button {
  padding: 5px;
  margin: 5px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(186px, 1fr));
  /*grid-template-columns: 1fr 1fr 1fr (auto-fit, 186px);*/
  /*grid-template-columns: repeat(auto-fit, 186px);*/
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}

.grid-item {
  justify-self: center;
  align-items: center;
}
