@import url('https://fonts.googleapis.com/css?family=Monoton');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.validation-errors-display {
  text-align: center;
  margin-bottom: 2em;
}

.validation-errors-display__list {
  list-style-type: none;
  padding: 0;
}

.grid-container {
  display: grid;
  /*grid-template-columns: repeat(auto-fill, minmax(186px, 1fr));*/
  grid-template-columns: 1fr 1fr 1fr 1fr (auto-fit, 186px);
  /*grid-template-columns: repeat(auto-fit, 186px);*/
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.flex-container h1 {
  font-family: 'Monoton', cursive;
  margin-bottom: 0;
}

.marquee {
  font-family: 'Press Start 2P', cursive;
}

/*img, ul, li {
  display: flex;
}*/

.nav-links {
  color: #CBE9EB;
  text-shadow: orange 0.1em 0.1em 0.2em;
  font-weight: bold;
}

ul {
  display: flex;
  flex-direction: column;
  padding-left: 0;
}

li {
  padding: 5px;
  justify-content: center;
}
